/**** **** **** **** Desktop Version Start **** **** **** ****/

/* Navigation Bar Start */
.nav-bar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(58, 58, 58);
}

.logo {
  height: 9.5rem;
  margin-top: 4rem;
  margin-left: 4rem;
  border-radius: 50%;
  box-shadow: 0px 0px 33px 27px rgba(198, 192, 205, 0.784);
}

ul.nav-links {
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.nav-links li {
  padding: 1rem;
}

.nav-links a {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.nav-links a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 17px white;
}
/* Navigation Bar End */

/* Home Page Start */
.record_player_img {
  width: 100vw;
  height: 100vh;
}

.home_music {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  padding-top: 1rem;
}

.record_store_day, .save_our_stages {
  width: 44%;
  margin: 1rem;
  padding: 6rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}
/* Home Page End */

/* Products Page Start */
img {
  height: 13rem;
}

.records {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.recordBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 11.5%;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  box-shadow: 0px 0px 13px 13px rgb(130, 125, 140);
}

.product_button {
  padding: 4px;
  border-radius: 10px 44px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  color: white;
  background-color: rgb(143, 136, 159);
  border: 0.5px solid rgb(130, 125, 140);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 75px 444px 4444px rgba(44, 44, 44, 0.1);
  background-color: #fff;
  padding: 7rem;
  z-index: 1000;
  text-align: center;
}

.modalTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 1rem;
}

.modalImg {
  padding: 2rem;
}

.searchBar {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: rgb(143, 136, 159);
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: large;
  color: white;
}

::placeholder {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bolder;
}
/* Products Page End */

/* Footer Start */
.footer {
  color: white;
  padding: 1rem;
  text-align: center;
  background-color: rgb(58, 58, 58);
  font-family: 'Open Sans', sans-serif;
}
/* Footer End */
/**** **** **** **** Desktop Version End **** **** **** ****/